<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block link %} {% endblock %}
    <body>
        {% if not is_authenticated %}
            <a href="/log/">AUTHORIZATION</a>
            <a href="/reg/">REGISTRATION</a>
        {% endif %}
        
        {% if is_admin %}
            <a href="/admin/">ADMIN</a>
        {% endif %}

        {% block content %}

        {% endblock %}
    </body>
</html>