{% extends "base.html" %}

{% block title %}
    Shop Page
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'shop_page/css/style.css') }}">
{% endblock %}

{% block content %}
    {% for value, tagname in body['content'].items() %}
        {% if tagname["tagname"] == 'a' %}
            <{{ tagname["tagname"] }} href = "{{ tagname["href"] }}"> {{ tagname["text"] }} </{{ tagname["tagname"] }}>
        {% else %}
            <{{ tagname["tagname"] }}> {{ tagname["text"] }} </{{ tagname["tagname"] }}>
        {% endif %}       
    {% endfor %}
    <p>{{ user_name }}</p>

    {% if count %} 
        <div class = "message">
            <h1> {{ count }} </h1>
        </div>
    {% endif %}


    {% for product in products %}
        {% set current_product = product %}
        {% set real_price = current_product.price * (1 - (  current_product.discount   / 100 )) %}
        
        <div class="container">
            
            <img src="{{ url_for('static', filename = 'shop_page/images/' + product.name + '.png') }}" alt="">
            
            <div class=" vertical-line-right"></div> 
            <div class="text">
                {% for value, key in body['cataloge'].items() %}
                    {% if key["tagname"] == 'button' %}
                        <{{ key["tagname"] }} class="{{ key["class"] }}" id = "{{ product.id }}"> {{ key["text"] }} </{{ key["tagname"] }}>
                        
                    {% elif key["tagname"] == 'h2' %}
                        <{{ key["tagname"] }}> {{ current_product.name }} </{{ key["tagname"] }}>
                    {% elif key["tagname"] == 'h3' %}
                        <h3>було {{ current_product.price }}</h3>
                        <{{ key["tagname"] }}> {{ key["text"] }} {{ real_price }} </{{ key["tagname"] }}>
                        <h3> знижка {{ current_product.discount }}</h3>
                    {% elif key["tagname"] == 'h3' %}
                        <{{ key["tagname"] }}> {{ key["text"] }} {{ current_product.description }} </{{ key["tagname"] }}>
                    {% else %}
                        <{{ key["tagname"] }}> {{ key["text"] }} </{{ key["tagname"] }}>
                    {% endif %}
            
                {% endfor %}
                <h2>
                    Ємність
                </h2>
            
                <div class="div_memory">
                    <button class = "memory">256</button>
                    <button class = "memory">512</button>
                    <button class = "memory">1028</button>
                </div>
            </div>
            <div class=" vertical-line-left"></div> 
        </div>
    
    {% endfor %}
    <script src="{{ url_for('static', filename='shop_page/js/set_cookies.js') }}" defer></script>
    <script scr="{{ url_for('static', filename = 'js/set_cookie.js') }}"></script>

{% endblock %}