div{
    /* border: solid gray; */
    /* padding-top: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border: solid black 3px;
    border-radius: 10px;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 175px;
}
input{
    width: 370px;
    height: 56px;
    /* margin-top: 30%; */
    /* background-color: greenyellow; */
    margin-bottom: 2vh;
    border: solid black 3px;
    border-radius: 10px;
}
button{
    border: solid black 3px;
    border-radius: 10px;
    background-color: white;
    width: 204px;
    height: 56px;
    /* margin-top: 5px; */
    display: block;
    margin-bottom: 10px;
}
input.first{
    margin-top: 15%;
}
p{
    display: block;
    text-align: right;
    font-size: 20px;
}
/* span{
    border: solid, black;
} */
a {
    padding-left: 40px;
    padding-right: 40px;
    /* padding-top: 5; */
    /* float: left; */
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}